@font-face {
  font-family: "CooperHewitt";
  src: url("../fonts/CooperHewitt/CooperHewitt-Book.woff") format("woff");
}

@font-face {
  font-family: "CooperHewitt";
  src: url("../fonts/CooperHewitt/CooperHewitt-BookItalic.woff") format("woff");
  font-style: italic;
}

@font-face {
  font-family: "CooperHewitt";
  src: url("../fonts/CooperHewitt/CooperHewitt-Semibold.woff") format("woff");
  font-weight: bold;
}

@font-face {
  font-family: "CooperHewitt";
  src: url("../fonts/CooperHewitt/CooperHewitt-SemiboldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "CooperHewitt";
  src: url("../fonts/CooperHewitt/CooperHewitt-Thin.woff") format("woff");
  font-weight: 100;
}

@font-face {
  font-family: "CooperHewitt";
  src: url("../fonts/CooperHewitt/CooperHewitt-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Charter";
  src: url("../fonts/Charter/charter_regular.woff2") format("woff2");
}

@font-face {
  font-family: "Charter";
  src: url("../fonts/Charter/charter_bold.woff2") format("woff2");
  font-weight: bold;
}

@font-face {
  font-family: "Charter";
  src: url("../fonts/Charter/charter_italic.woff2") format("woff2");
  font-style: italic;
}

@font-face {
  font-family: "Charter";
  src: url("../fonts/Charter/charter_bold_italic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}
