/*-- scss:defaults --*/

// Colors
$red: rgb(230, 0, 51) !default;
$outer: rgb(15, 118, 110);
$inner: rgb(6, 182, 212);
$paper: rgb(255, 252, 240);
$text: rgb(16, 15, 15);

// Fonts
$font-family-sans-serif: "CooperHewitt" !default;
$font-family-serif: "Charter" !default;
$font-family-monospace: "mononoki" !default;
$font-size-base: 1.1rem !default;

// Page colors
$navbar-bg: $paper;
$footer-bg: $paper;
$input-bg: $paper;
$popover-bg: lighten($paper, 55%);

$body-bg: $paper;
$body-color: $text;

// Links
$link-color: $red;
$link-hover-color: darken($link-color, 15%);
$link-decoration: none;
$link-hover-decoration: underline;

// Code
$code-bg: lighten($inner, 55%);
$code-color: darken($outer, 10%);
$code-block-bg: $code-bg;
$code-block-border-left: $outer;
$code-block-border-left-size: 4px;
$code-annotation-higlight-bg: lighten($red, 50%);
$code-annotation-higlight-color: $code-block-border-left;
$btn-code-copy-color-active: $red;

/*-- scss:rules --*/

// (Sub)Titles and (sub)sections
h1.title {
  font-family: $font-family-sans-serif;
  font-size: 2em;
	color: $red;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-sans-serif;
}

h6 {
  font-weight: 100;
}

p.subtitle.lead {
  font-family: $font-family-sans-serif;
  font-weight: normal;
  font-size: 1em;
}

.content {
  font-family: $font-family-serif;
}

a.nav-link:hover,
a.navbar-brand:hover {
  color: rgb(230, 0, 51);
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
}

a:hover {
  color: rgb(230, 0, 51) !important;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
}

.navbar-title {
  font-size: 120%;
}

.navbar-logo {
  max-height: 36px;
}

.navbar-brand-logo {
  padding-top: 0px;
}

.tippy-box {
  background-color: $popover-bg !important;
}